*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.button-31{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
.homebox{
    margin: 0 auto;
    display: inline-block;
    width: 400px;
    height: 900px;
    background-color: #2F80ED; 
}
.btn1{
    height: 60px;
    width: 300px;
    margin: 0 auto;
    max-width: 400xp;
    margin-top: 249px ;
}
.btn2{
    height: 60px;
    width: 300px;
    margin: 0 auto;
    max-width: 400xp;
}
.homelogo{
    display: inline-block;
    margin: 0 auto;
    margin-top: 72px;
    margin-left: 47px;
    
}
h3{
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF
}
.analytical{
    width: 1100px;
    height: 900px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 0px;
    background-color: white;
    display: inline-block;
}

.bare{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #4F4F4F;
    float: right;
}
